<div class="page-header">
    <h1>WikiDigest <small>provides a short version of Wikipedia events for a given day</small></h1>
  </div>

  <dl>
    <dt>The searchable date range is from 01/01/2000 till today.</dt>
    <dd>The more recent, the more reliable. Wikipedia earlier than 2010 appears to use different markup for the event section, and is also more prone to inconsistent markup and missing dates. (2004 and earlier is almost guaranteed to throw an exception)</dd>
    <dd>Note the majority of events prior to 2010 are not categorized in Wikipedia, so the parsed events during this period will not come with categories.</dd>
    <br />
    <dt>Search on the same date will be cached locally.</dt>
    <dd>An edit made on Wikipedia for an already searched date won't be reflected locally.</dd>
    <br />
    <dt>In the event that no events were obtained, or any parts of the events were missing for the day, the query is saved to indicate the attempted retrieval.</dt>
    <dd>For example, event summary will be 'n/a', or no events will be saved if no events are retrived for the date.</dd>
  </dl>

  <%= form_for @result do |f| %>
  <p>
    <%= f.label :queried_date,'Query Date' %><br>
    <%= f.text_field :queried_date, id: 'pickDate' %>
  </p>
 
  <p>
    <%= f.submit "Search" %>
  </p>
<% end %>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#pickDate').datepicker({
        format: "dd/mm/yyyy",
        startDate: "1/1/2000",
        endDate: '0d'
    });
  });
</script>